<section class="card is-shadowless has-border my-5">
  <div class="has-background-dark has-text-white p-4 card-title"></div>
  <div class="card-body">
    <p class="has-text-white is-text-start p-3">{{content}}</p>
    <p class="has-text-white is-text-start p-3">- {{comment_author}}, {{formatDate createdAt}}</p>
  </div>
</section>