{{!-- Show all the user's post in the Dashboard --}}
<section>
  <div class="posts">
    {{#each posts as |post|}}
    {{> dashboard-posts}}
    {{/each}}
    
    <button id="button-make-post">Make New Post</button>
  </div>

  <form id="form-post" class="d-flex flex-column  w-50">
    <input id="post-title" type="text" class="form-control" placeholder="Title">
    <textarea id="post-content" type="text" class="form-control" placeholder="Content"></textarea>
    
    <div>
      <button id="button-cancel-post">Cancel</button>
      <button id="button-add-post">Add Post</button>
    </div>
  </form>

</section>

<script src="./js/post.js"></script>