<section class="columns is-mobile login">
  <h2>Login</h2>
  <form id="form-login" class="column is-5">
    <div class="field">
      <div class="control">
        <input id="login-email" type="email" class="input " placeholder="Email">
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <input id="login-password" type="password" class="input" placeholder="Password">
      </div>
    </div>

    <div class="field column is-narrow">
      <div class="control">
        <button id="login-button" type="submit", class="button is-dark">Login</button>
      </div>
    </div>
  </form>

  <div class="text-new-user">
    <p>New user? <a href="/signup">click here</a></p>
  </div>
</section>

<script src="./js/login.js"></script>