<section class="d-flex flex-column justify-content-center">
  <h2>Login</h2>
  <form id="form-login" class="d-flex flex-column  w-50">
    <input id="login-email" type="email" class="form-control" placeholder="Email">
    <input id="login-password" type="password" class="form-control" placeholder="Password">
    <button id="login-button" type="submit", class="btn btn-primary w-25">Login</button>
  </form>

  <p>New user? <a href="/signup">click here</a></p>
</section>

<script src="./js/login.js"></script>