{{!-- Show the clicked on post w/comments --}}
<section>
  <header>{{post.title}}</header>
  <p>{{formatDate post.createdAt}}</p>
  <p>{{post.content}}</p>
  <p>{{post.post_author}}</p>

  {{!-- If this is the user's post then show the edit/delete buttons --}}
  {{#if loggedIn}}
  <button>Edit</button>
  <button>Delete</button>
  {{/if}}

  {{#each post.comments as |comment|}}
  {{> comment-details}}
  {{/each}}

  {{!-- Allow adding a comment if coming from the Homepage --}}
  {{#unless loggedIn}}
  <button>Add Comment</button>
  {{/unless}}
</section>