{{!-- Show the clicked on post w/comments --}}
<section class="mx-3">
  <div class="card is-shadowless has-border my-5">
    <div class="has-background-dark has-text-white p-3 card-title">
      <h2 class="has-text-weight-bold">{{post.title}}</h2>
      <p class="has-text-right-mobile">Created by {{post.post_author}} on {{formatDate post.createdAt false}}
      </p>
    </div>

    <div class="card-body">
      <p class="has-text-white is-text-start p-3">{{post.content}}</p>
    </div>
  </div>

  {{!-- If this is the user's post and logged in then show the edit/delete buttons --}}
  {{#if (canAddPost loggedIn fromDashboard)}}
  <div class="update-delete-buttons">
    <button id="button-delete-post" class="button mr-3">Delete</button>
    <button id="button-update-post" class="button">Update</button>
  </div>
  {{/if}}

  {{> update-post}}

  {{#each post.comments as |comment|}}
  {{> comment-details}}
  {{/each}}

  {{!-- Allow adding a comment if coming from the Homepage and logged in --}}
  {{#if (canAddComment loggedIn fromHomepage)}}
  <button id="button-make-comment" class="button">Add Comment</button>
  {{/if}}

  {{> new-comment}}

</section>

{{!-- Decide which file to load --}}
{{#if (canAddPost loggedIn fromDashboard)}}
<script src="../../js/update-post.js"></script>
{{/if}}

{{#if (canAddComment loggedIn fromHomepage)}}
<script src="../../js/comment.js"></script>
{{/if}}