<section class="columns is-mobile signup">
  <h2>Sign Up</h2>
  <form id="form-signup" class="column is-5">
    <div class="field">
      <div class="control">
        <input id="signup-username" type="text" class="input" placeholder="Username">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input id="signup-email" type="email" class="input" placeholder="Email">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input id="signup-password" type="password" class="input" placeholder="Password">
      </div>
    </div>

    <div class="field column is-narrow">
      <div class="control">
        <button id="signup-button" type="submit", class="button is-dark">Sign Up</button>
      </div>
    </div>
    
  </form>

  <div class="text-new-user">
    <p>Already signed up? <a href="/login">Login here</button></p>
  </div>
</section>

<script src="./js/signup.js"></script>