.card {
  border-radius: var(--border-radius);
  box-shadow: 0;
  border: 3px solid var(--bulma-dark);
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.card-body {
  background-color: var(--background-color);
}

@media screen and (min-width: 769px) {
  .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
