.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.login h2 {
    font-size: 60px;
}

.login button {
    width: 100%;
}

.text-new-user {
    font-size: 40px;
}